# Ignore node_modules directory
node_modules/

# Ignore any compiled TypeScript files
*.js
*.js.map

# Ignore any compiled JavaScript files
dist/

# Ignore environment-specific files
.env

# Ignore any temporary files
*.log
*.tmp
*.temp
*.bak

# Ignore Visual Studio Code specific files
.vscode/

# Ignore JetBrains IDE specific files
.idea/

# Ignore any local configuration files
*.local.*
